:root {
    --primary: #2b55cc;
    --secondary: whitesmoke ;
    --green : #1ecab8;
    --danger : #f1646c;
    --darkblue : #28365f;
}

li a {
    color: var(--secondary);
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    color: var(--secondary);
}

li {
    margin-bottom: 5px;
}

body {
    background: linear-gradient(90deg, var(--primary),var(--green));
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.center_h{
    display: grid;
	place-items: center
}

a:hover {
    text-decoration: none;
    color: var(--darkblue) !important;
}

.my_div{
    border: 2px solid whitesmoke;
    padding: 30px;
    max-height: 120px;
}

.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font_family{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
    color: white;
    text-align: center;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }