:root {
    --primary : #1a252f;
    --secondary: #2b55cc;
    --green : #1ecab8;
    --danger : #f1646c;
    --darkblue : #28365f;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    color: white;
}

li {
    margin-bottom: 5px;
}

body {
    background: linear-gradient(90deg, var(--secondary),var(--green));
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}




